.auth-options {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #8a817c;
    color: #000000;
}

.info-box h1 {
    margin: 0;
}

.info-box span {
    text-decoration: underline;
    cursor: pointer;
}